ion-header {
  background: transparent !important;
}
ion-toolbar {
  --background: var(--brand-header-background);
  height: 50px;
  overflow: hidden;
  border-bottom: 3px solid var(--brand-header-border);
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  -webkit-overflow-scrolling: touch;
  ion-col div {
    margin: 0 5vw 0 0;
    svg {
      margin: 0px 5vw 1px 0;
      height: 2.5vh;
      stroke: var(--brand-header-text);
    }
    ion-text {
      color: var(--brand-header-text);
    }
  }
  ion-text {
    span {
      font-size: 3vh;
      text-transform: uppercase;
    }
  }
  ion-button {
    margin-top: -6px;
  }
}
