<ion-footer>
  <div class='container' [class.active]="classToggled">

    <ul class="menu">
      <li>
        <a>
          <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-glass.svg'></ion-icon>
        </a>
      </li>
      <li>
        <a>
          <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-paper.svg'></ion-icon>
        </a>
      </li>
      <li>
        <a>
          <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-horn.svg'></ion-icon>
        </a>
      </li>
      <li>
        <a>
          <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-crown.svg'></ion-icon>
        </a>
      </li>
      <li>
        <a>
          <ion-icon class='button-icon' src='assets/custom-icons/md-icon-logout.svg'></ion-icon>
        </a>
      </li>
    </ul>

    <div class='fab-button'>
      <ion-fab color='secondary' vertical="bottom" horizontal="center">
        <ion-fab-button (click)="open()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

  </div>
</ion-footer>




<!-- <ion-button class='one' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='two' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='three' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='four' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='five' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button> -->