<div class='container' [class.active]="classToggled">
  <!-- <div class='fan-menu-overlay' [class.overlay]="classToggled"></div> -->
  <div class="menu">
    <div>
      <a (click)='navigate("bottom-drawer")'>
        <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-glass.svg'></ion-icon>
      </a>
    </div>
    <div>
      <a>
        <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-paper.svg'></ion-icon>
      </a>
    </div>
    <div>
      <a>
        <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-horn.svg'></ion-icon>
      </a>
    </div>
    <div>
      <a>
        <ion-icon class='button-icon' src='assets/custom-icons/ios-custom-crown.svg'></ion-icon>
      </a>
    </div>
    <div>
      <a>
        <ion-icon class='button-icon' src='assets/custom-icons/md-icon-logout.svg'></ion-icon>
      </a>
    </div>
  </div>
</div>
<div class="fab-container ion-text-center">
  <button mat-icon-button class='fan-fab' (click)="open()" [ngClass]="{'fab-active' : fabActive }">
    <ion-icon class='menu-icon' name="add"></ion-icon>
  </button>
</div>



<!-- <ion-button class='one' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='two' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='three' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='four' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

      <ion-button class='five' slot="icon-only" fill='clear'>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button> -->