<<<<<<< HEAD
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
=======
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
>>>>>>> parent of 3bc3d4f... components revised
}

ion-list {
  overflow-y: scroll;
  height: 90%;
}
ion-footer {
  fan-menu {
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

<<<<<<< HEAD
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
}
=======
ion-content ion-toolbar {
  --background: translucent;
}
>>>>>>> parent of 3bc3d4f... components revised
